.title {
  color: #1ea0f2;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.title__first {
  font-size: 35px;
  font-weight: 900;
  margin: 20px 10px; }
  @media screen and (max-width: 560px) {
    .title__first {
      font-size: 30px;
      margin: 15px 10px; } }
  @media screen and (max-width: 460px) {
    .title__first {
      font-size: 22px;
      margin: 15px 10px 10px 10px; } }

.title__second {
  font-size: 26px;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .title__second p {
    margin: 5px 10px 5px 5px; }
  @media screen and (max-width: 560px) {
    .title__second {
      font-size: 24px; }
      .title__second p {
        margin: 5px 8px 5px 5px; } }
  @media screen and (max-width: 460px) {
    .title__second {
      font-size: 20px; }
      .title__second p {
        margin: 5px 8px 5px 5px; } }

.form-name {
  margin: 20px 0 10px 0; }

.form-name__field {
  width: 800px;
  color: #657786;
  font-size: 20px;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #1ea0f2;
  background-color: #ffffff;
  padding: 8px 15px; }
  @media screen and (max-width: 860px) {
    .form-name__field {
      width: 700px; } }
  @media screen and (max-width: 760px) {
    .form-name__field {
      width: 600px; } }
  @media screen and (max-width: 660px) {
    .form-name__field {
      width: 500px; } }
  @media screen and (max-width: 560px) {
    .form-name__field {
      width: 400px;
      font-size: 16px; } }
  @media screen and (max-width: 460px) {
    .form-name__field {
      width: 300px; } }

.form-text {
  margin: 15px 0 5px 0; }

.form-text__field {
  resize: none;
  width: 800px;
  color: #657786;
  font-size: 20px;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #1ea0f2;
  background-color: #ffffff;
  padding: 8px 15px; }
  @media screen and (max-width: 860px) {
    .form-text__field {
      width: 700px; } }
  @media screen and (max-width: 760px) {
    .form-text__field {
      width: 600px; } }
  @media screen and (max-width: 660px) {
    .form-text__field {
      width: 500px; } }
  @media screen and (max-width: 560px) {
    .form-text__field {
      width: 400px;
      font-size: 16px; } }
  @media screen and (max-width: 460px) {
    .form-text__field {
      width: 300px; } }

.form-submit-btn {
  margin: 8px 0 30px 0; }

.form-submit-btn__text-wrapper {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #1ea0f2;
  background-color: #1ea0f2; }
  @media screen and (max-width: 860px) {
    .form-submit-btn__text-wrapper {
      width: 700px; } }
  @media screen and (max-width: 760px) {
    .form-submit-btn__text-wrapper {
      width: 600px; } }
  @media screen and (max-width: 660px) {
    .form-submit-btn__text-wrapper {
      width: 500px; } }
  @media screen and (max-width: 560px) {
    .form-submit-btn__text-wrapper {
      width: 400px; } }
  @media screen and (max-width: 460px) {
    .form-submit-btn__text-wrapper {
      width: 300px; } }
  .form-submit-btn__text-wrapper:hover {
    border: 1px solid #1585ca; }

.form-submit-btn__text {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  background-color: #1ea0f2;
  padding: 8px 10px; }

.form-submit-btn__icon {
  color: #ffffff;
  font-size: 22px; }
/*# sourceMappingURL=Form.css.map */