$App-background-color: #f5f8fa;
$comment-color-1: #74c4f7;
$comment-color-2: #d5ebf8;
$comment-color-3: #74c4f7;
$comment-color-4: #fff;
$comment-color-5: #000000;
$form-color-1: #657786;
$form-color-2: #1ea0f2;
$form-color-3: #ffffff;
$form-color-4: #1585ca;
$more-color-1: #1ea0f2;
$more-color-2: #1585ca;
$more-color-3: #ffffff;
$pagination-color-1: #d5ebf8;
$pagination-color-2: #4ba5da;
$pagination-color-3: #88a2bb;
$pagination-color-4: #8b8b8b;
