$App-background-color: #f5f8fa;

$comment-border: #74c4f7;
$comment-background-color: #d5ebf8;
$comment-user-background-color:#74c4f7;
$comment-user__icon-color: #fff;
$comment-user__name: #000000;
$comment-text-background-color:#d5ebf8;

$title-color:  #1ea0f2;
$form-name__field-color:#657786;
$form-name__field-border:#1ea0f2;
$form-name__field-background-color:#ffffff;
$form-name__fieldhoveR: #1585ca;


