.title{
    color: #191b1e;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.form-name{

}
.form-name__field{
    min-width: 300px;
    color: #657786;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    border-radius: 6px;
    border: 2px solid #c7cacd;
    background-color: #ffffff;
    padding: 8px 15px
}
.form-text{

}
.form-text__field{
    min-width: 300px;
    color: #657786;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    border-radius: 6px;
    border: 2px solid #c7cacd;
    background-color: #ffffff;
    padding: 8px 15px
}