$commentHeight: 120px;

$breakpoint1: 860px;
$breakpoint2: 760px;
$breakpoint3: 660px;
$breakpoint4: 560px;
$breakpoint5: 460px;

$startWidth: 800px;
$widthForBreakpoint1: 700px; 
$widthForBreakpoint2: 600px; 
$widthForBreakpoint3: 500px; 
$widthForBreakpoint4: 400px; 
$widthForBreakpoint5: 300px;  



 